[submodule "public"]
	path = public
	url = git@github.com:amanotk/fortran-resume-public.git
[submodule "report"]
	path = report
	url = ssh://git@github.com/amanotk/fortran-report
[submodule "sample"]
	path = sample
	url = git@github.com:amanotk/fortran-resume-sample.git
[submodule "answer"]
	path = answer
	url = git@github.com:amanotk/fortran-resume-answer.git
